apiVersion: batch/v1
kind: CronJob
metadata:
  name: scheduler
spec:
  schedule: "* * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: app-scheduler
            image: ntimdotdev/laravel-news-aggregator-php:0.0.4
            imagePullPolicy: IfNotPresent
            command:
            - php
            - artisan
            - schedule:run
            envFrom:
              - secretRef:
                  name: app-secret
          restartPolicy: OnFailure